
//- Vendor imports
//- --------------

script(src='/js/vendor/jquery.min.js')
script(src='/js/vendor/jquery-ui.min.js')
script(src='/js/vendor/wijmo-open.min.js')
script(src='/js/vendor/raphael-min.js')
script(src='/js/vendor/underscore.js')
script(src='/js/vendor/backbone.js')
script(src='/js/vendor/mustache.js')
script(src='/js/vendor/json2.js')
script(src='/js/vendor/keyCandy.js')
script(src='/js/vendor/happy.js')
script(src='/js/vendor/happy.methods.js')
script(src='/js/vendor/jquery.cssemoticons.js')
script(src='/js/vendor/spin.js')
script(src='/js/vendor/jquery.meow.js')
script(src='/js/vendor/jquery.masonry.min.js')

//- Application imports
//- -------------------

//- Helpers
script(src='/js/helpers.js')

//- DNode
script(src='/dnode.js')
script(src='/dnode.backbone.js')
script(src='/dnode.cookie.js')

//- Modules
script(src='/app.js')
script(src='/room.js')
script(src='/user.js')
script(src='/client.js')
script(src='/message.js')

//- Initialize
script(src='/js/init.js')
