!!! 5
html(lang="en")
  head
    title &AElig;bleskiver
    
    // CSS
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/grid.css')
    link(rel='stylesheet', href='css/aebleskiver/jquery-ui-1.8.11.aebleskiver.css')
    style(type='text/css') @import url('//cdn.wijmo.com/jquery.wijmo-open.1.1.2.css');
    
    // Dependencies
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js")
    script(src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.10/jquery-ui.min.js")
    script(src="//cdn.wijmo.com/jquery.wijmo-open.1.1.2.min.js")
    script(src="/js/underscore-min.js")
    script(src="/js/backbone.js")
    script(src="/js/mustache.js")
    script(src="/js/jquery.livequery.js")
    script(src="/js/json2.js")
    script(src="/dnode.js")
    
    // Registration template
    script#signup-template(type='text/template')
      #signup.authenticate
        form#signup-form(method="get", action="/#/register", onsubmit="return false")
          .title
            h3 Signup
          .content
            p
              label Username: 
              input(type='text', name='username')
            p
              label Display Name: (optional)
              input(type='text', name='displayname')
            p
              label Email: 
              input(type='text', name='email')
            p
              label Password: 
              input(type='password', name='password')
          .controls
            button.submit Login
            button.cancel Cancel
            
    // Login template
    script#login-template(type='text/template')
      #login.authenticate
        form#login-form(method="get", action="/#/authenticate", onsubmit="return false")
          .title
            h3 Login
          .content
            p
              label Username: 
              input(type='text', name='username')
            p
              label Password: 
              input(type='password', name='password')
          .controls
            button.submit Login
            button.cancel Cancel
    
    // Create new room
    script#create-room-template(type='text/template')
      .authenticate
        form#create-room-form(method="get", action="/#/", onsubmit="return false")
          .title
            h3 Create a new room
          .content
            p
              label Name: 
              input(type='text', name='room', placeholder='Room name')
          .controls
            button.submit Create
            button.cancel Cancel
            
    // User full
    script#user-template(type='text/template')
      a.gravatar(href='#/user/{{ username }}'): span: img(src='{{ avatar }}')
      span.username {{ username }}
              
    // Main application
    script#application-template(type='text/template')
      #header.container_16
        a#logo(href='/'): h1 ;)
        ul#navigation
          li: a(href='/#/') Home
          li: a(href='/#/login') Login
          li: a(href='/#/signup') Sign up
          li: a(href='/#/settings') Settings
          li: a(href='/#/logout') Logout
          
      .wrapper.container_16
        #sidebar.grid_5
        
          #sidebar-controls
            button#show-users Users
            button#show-rooms Rooms
            button#create-room Create Room
          
          #sidebar-up
          #sidebar-content  
            #users
            #games
            #rooms
          #sidebar-down
            .statistics#app-stats
        
        #main.grid_11
          #main-tabs
            button#news News
            button#help Help
            
          #main-controls
            .main-controls
              button.new-room Create Channel
              button.new-game Create Game
            
            .layout-controls
              button.list List
          
          #main-content
          
      #create-room-dialog
      #login-dialog
      #signup-dialog
      #settings-dialog
      #footer.container_16
        #copyright
          p &copy;
        #authors
          p.author Beau Sorensen

    // Application statistics
    script#application-stats-template(type='text/template')
      .stat.total-messages
        span.title Total Messages:
        span.value {{ totalMessages }}
      .stat.total-users
        span.title Total Users:
        span.value {{ totalUsers }}
      .stat.total-rooms
        span.title Total Rooms:
        span.value {{ totalRooms }}
    
    // Room room
    script#room-template(type='text/template')
      h1.name
        span {{ name }}
        span.destroy
      .statistics.room-stats
      
      p.description {{ description }}
      .users
      .messages
      form.message-form(method="post", action="#", onsubmit="return false")
        button Room
        input.create-message(type='text', name='message', placeholder='Say something...', length="40")

    // Room listing
    script#room-list-template(type='text/template')
      a(href='#/rooms/{{ id }}')
        h3.name
          span {{ name }}
          span.destroy
      p.description {{ description }}
      .statistics.room-stats
      
    // Room statistics
    script#room-stats-template(type='text/template')
      .stat.total-messages
        span.title Total Messages:
        span.value {{ totalMessages }}
        
    // Single message
    script#message-list-template(type='text/template')
    script#message-template(type='text/template')
      span.created {{ created }}
      span.avatar: img(src='{{ avatar }}')
      a.username(href='#/users/{{ username }}') {{ username }}
      span.data {{ text }}
    

    // Application core
    script(src="/bootstrap.js")
    
    // Helpers
    script(src="/js/ui.js")
    script(src="/js/helpers.js")
    
    // Remote procedure calls
    script(src="/rpc/auth.js")
    script(src="/rpc/pubsub.js")
    script(src="/rpc/crud.js")
    script(src="/rpc/gravatar.js")
    
    // Models
    script(src="/models/message.js")
    script(src="/models/room.js")
    script(src="/models/user.js")
    script(src="/models/application.js")
    
    // Views
    script(src="/views/user.js")
    script(src="/views/message.js")
    script(src="/views/room.js")
    script(src="/views/application.js")
    
    // Controllers
    script(src="/controllers/application.js")
    
    // Start application
    script(src="/init.js")
  body
    #application
    #port(style='display:none;')= locals.port
    #token(style='display:none;')= locals.token
    #dialog(style='display:none;')
    #version= locals.version