
#application
#templates!= partial('micros')

//- Bootstrapped server settings
script(type='text/javascript')
  var bootstrap = new Object(!{locals.bootstrap})
    , user = new Object(!{locals.user})

!= partial('includes')
