#map(style='width:500px;height:500px;z-index:9999;')
#application
  .wrapper
    #header
      nav#navigation
        a#home.icon(href='/#/', title='Home', accesskey='H')&nbsp;
        a#create-room(accesskey='C') Create Room
        a#login(accesskey='L') Login
        a#signup(accesskey='J') Join
        a#settings.icon(title='Settings', accesskey='E')&nbsp;
        a#logout(accesskey='O') Logout
    
    #sidebar-wrapper
      a.heart(href='/')
        .heart-left
        .heart-right
        .heart-content
        
      #sidebar
        #sidebar-controls
      
        #sidebar-up
          button#show-rooms(accesskey='R') Rooms
          button#show-users(accesskey='U') Users
        
        #sidebar-content
          #users
          #rooms
        
        #search-form
          button#search-now Go
          .input-wrap
            input#search(type='text', name='search', placeholder='Search', accesskey='S')
          
        #sidebar-down
          //.statistics#app-stats
    
    #main
      #main-tabs
        button#news News
        button#help Help
        
      #main-controls
        .main-controls
          button.new-room Create Channel
        
        .layout-controls
          button.list List
      
      #main-content
      #welcome-text
        #fork-me
          a.ribbon(href='https://github.com/sorensen/aebleskiver')
            span Fork me on GitHub
        
        h1.title Welcome to &AElig;bleskiver!
        p
          | This is a real-time chat application, built with
          | the Express.js and Backbone.js frameworks.
          
        p
          | You can load up a chat room by clicking on one of
          | the links in the sidebar menu.  There is also a 
          | persistant members list there as well, where you 
        
        p
          | Chat rooms and user profiles can either be added 
          | as a 'favorite' or a 'friend', which are then 
          | added to the lists on the bottom bar.
        
        p
          | You may create your own chat room, which can be 
          | then linked to for you and your friends. If too 
          | many rooms appear, you can use the search bar below
          | the list to filter them.  Room 'titles' and 
          | 'descriptions' are both indexed.
      
  .dialog-wrapper#create-room-dialog
  .dialog-wrapper#login-dialog
  .dialog-wrapper#signup-dialog
  .dialog-wrapper#settings-dialog
  #footer
    #start-menu
      #start-menu-icon.icon(title='Menu', accesskey='M')
      //.button.title.submit Menu
      //  .heart(href='/')
      //    .heart-left
      //    .heart-right
      //    .heart-content
    
    #friend-list
      #friends-icon.icon(title='Friends', accesskey='F')
      //.button.title Friends
      .friend-wrapper
        .heading Your Friends
        .controls
          .open
          .close
        .friends
        
    #favorite-list
      #favorites-icon.icon(title='Favorites', accesskey='A')
      //.button.title Favorites
      .favorite-wrapper
        .heading Your Favorites
        .controls
          .open
          .close
        .favorites
    
    #statistics
      #stats-icon.icon(title='Statistics', accesskey='T')
      .stats-wrapper
        .heading Statistics
        .controls
          .open
          .close
        .stats
          #app-stats.statistics
    
    #github
      a(href='https://github.com/sorensen/aebleskiver', title='Fork me on GitHub!', accesskey='G')
        #github-icon.icon
      
    #conversations
    
    #copyright
      p &copy;
    #authors
      p.author Beau Sorensen
  #overlay

#templates!= partial('micros')

//- Dependencies
//script(src='//ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.js')
//script(src='//ajax.googleapis.com/ajax/libs/jqueryui/1.8.10/jquery-ui.js')
//script(src='//cdn.wijmo.com/jquery.wijmo-open.1.1.5.min.js')
//script(src='//cdn.wijmo.com/external/raphael-min.js')
//script(src='/js/vendor/jquery.cookie.js')
//script(src='/js/vendor/keyCandy.js')
//script(src='/js/vendor/happy.js')
//script(src='/js/vendor/happy.methods.js')
//script(src='/js/vendor/jquery.cssemoticons.js')
//script(src='/js/vendor/underscore.js')
//script(src='/js/vendor/backbone.js')
//script(src='/js/vendor/mustache.js')
//script(src='/js/vendor/json2.js')

script(src='/js/vendor.js')
//script(src='/js/compiled.js')
script(src='/core.js')
script(type='text/javascript')
  var DNode      = require('dnode'),
      middleware = require('backbone-dnode');

//- Helpers
//script(src='/js/google.js')
//script(src='/js/helpers.js')
//script(src='/js/icons.js')

//- DNode Middleware
//script(src='/js/rpc/auth.dnode.js')
//script(src='/js/rpc/avatar.dnode.js')
//script(src='/js/rpc/misc.dnode.js')

//- Start application
//script(src='/js/init.js')

//- Bootstrapped server settings
script(type='text/javascript')
  port    = '!{locals.port}';
  token   = '!{locals.token}';
  version = '!{locals.version}';
