!!! 5
html(lang="en")
  head
    title &AElig;bleskiver
    
    // CSS
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/grid.css')
    link(rel='stylesheet', href='css/aebleskiver/jquery-ui-1.8.11.aebleskiver.css')
    style(type='text/css') @import url('//cdn.wijmo.com/jquery.wijmo-open.1.1.2.css');
    
    // Dependencies
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js")
    script(src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.10/jquery-ui.min.js")
    script(src="//cdn.wijmo.com/jquery.wijmo-open.1.1.2.min.js")
    script(src="/js/underscore-min.js")
    script(src="/js/backbone.js")
    script(src="/js/mustache.js")
    script(src="/js/jquery.livequery.js")
    script(src="/js/json2.js")
    script(src="/js/ui.js")
    script(src="/dnode.js")
    
    // User full
    script#user-template(type='text/template')
      a.gravatar(href='#/user/{{ username }}')
        span
          img(src='{{ avatar }}')
      span.username
        {{ username }}
    
    // Main application
    script#application-template(type='text/template')
      #header.container_16
        #logo: h1 &aelig;bleskiver
        ul#navigation
          li: a(href='/') Home
          li: a(href='/#/signin') Signin
          li: a(href='/#/signup') Signin
          li: a(href='/#/settings') Settings
          li: a(href='/#/logout') Logout
          
      .wrapper.container_16
        #sidebar.grid_5
          #sidebar-tabs
            button#show-users Users
            button#show-users Chats
            button#show-users Games
              
          #sidebar-controls
            form#chat-form(method="post", action="#", onsubmit="return false")
              input#create-chat-button(type='submit', value='Create')
              input#create-chat(type='text', name='chat', placeholder='Create a chat')
            form#game-form(method="post", action="#", onsubmit="return false")
              input#create-game-button(type='submit', value='Create')
              input#create-game(type='text', name='game', placeholder='Create a game')
          
          #sidebar-up
          #sidebar-content  
            #users
            #games
            #chats
          #sidebar-down
        
        #main.grid_11
          #main-tabs
            button#news News
            button#help Help
            
          #main-controls
            .main-controls
              button.new-chat Create Channel
              button.new-game Create Game
            
            .layout-controls
              button.list List
          
          #main-content
                
      #footer.container_16
        #copyright
          p &copy;
    
    // Chat window
    script#game-list-template(type='text/template')
      h3.name {{ name }}
      p.description {{ description }}
      span.total-users {{ totalUsers }}
    
    // Deck of cards
    script#deck-template(type='text/template')
      .controls
        .shuffle
      .card-count
      .card-list
    
    // Card
    script#card-template(type='text/template')
        .card(title='{{ title }}')
          .front
            .suit-tl {{ suit }}
            .rank {{ rank }}
            .suit-br {{ suit }}
          .back
            .card-image {{ graphic }}
    
    // Game room
    script#game-template(type='text/template')
      .widget
        .current-player-count {{ count }}
        .current-players
      .main-viewport
      .workspace
        .actions
        .current-deck
        button.help

    // Chat window
    script#chat-template(type='text/template')
      h1.name
        span {{ name }}
        span.destroy
        
      p.description {{ description }}
      .users
      .messages
      form.message-form(method="post", action="#", onsubmit="return false")
        button Chat
        input.create-message(type='text', name='message', placeholder='Say something...', length="40")

    // Chat window
    script#chat-list-template(type='text/template')
      .destroy
      a(href='#/chats/{{ id }}')
        h3.name {{ name }}
      p.description {{ description }}
      span.new-messages {{ newMessages }}
      span.total-users {{ totalUsers }}
    
    // Single message
    script#message-list-template(type='text/template')
    script#message-template(type='text/template')
      span.created
        {{ created }}
      span.avatar
        img(src='{{ avatar }}')
      a.username(href='#/users/{{ username }}')
        {{ username }}
      span.data
        {{ text }}
    

    // Application core
    script(src="/bootstrap.js")
    
    // Remote procedure calls
    script(src="/rpc/auth.js")
    //script(src="/rpc/pubsub.js")
    script(src="/rpc/synchronize.js")
    script(src="/rpc/gravatar.js")
    
    // Models
    script(src="/models/message.js")
    script(src="/models/chat.js")
    script(src="/models/user.js")
    script(src="/models/application.js")
    
    // Views
    script(src="/views/user.js")
    script(src="/views/message.js")
    script(src="/views/chat.js")
    script(src="/views/application.js")
    
    // Controllers
    script(src="/controllers/application.js")
    
    // Start application
    script(src="/init.js")
  body
    #wrapper
    #client(style='display:none;')= locals.name