!!! 5
html(lang="en")
  head
    title &AElig;bleskiver
    
    // CSS
    link(rel='stylesheet', href='/css/style.css')
    
    // Dependencies
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.js")
    script(src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.10/jquery-ui.js")
    script(src="/js/jquery.livequery.js")
    script(src="/js/jquery.timeago.js")
    script(src="/js/modernizr-1.7.min.js")
    script(src="/js/underscore-min.js")
    script(src="/js/backbone.js")
    script(src="/js/mustache.js")
    script(src="/js/json2.js")
    script(src="/dnode.js")
    
    // Notification template
    script#notification-template(type='text/template')
      .notification
        .close
        .type {{ type }}
        .message {{ message }}
    
    // Settings template
    script#settings-template(type='text/template')
      #settings-form.dialog
        .title
          h3 Settings
        .content
          p
            label(for='settings-username') ID: 
            input#settings-id(type='text', name='id', disabled='disabled', value='{{ id }}')
          p
          p
            label(for='settings-username') Username: 
            input#settings-username(type='text', name='username', disabled='disabled', value='{{ username }}')
          p
            label(for='settings-displayname') Display Name: (optional)
            input#settings-displayname(type='text', name='displayname', value='{{ displayName }}')
          p
            label(for='settings-email') Email: 
            input#settings-email(type='text', name='email', value='{{ email }}')
          p
            label(for='settings-bio') Bio: 
            textarea#settings-bio(name='bio', rows='3') {{ bio }}
          p
            label(for='settings-password') Password: 
            input#settings-password(type='password', name='password')
          p
            label(for='settings-password-confirm') Confirm Password: 
            input#settings-password-confirm(type='password', name='password_confirm')
        .controls
          button.submit Save
          button.cancel Cancel
          
    // Registration template
    script#signup-template(type='text/template')
      #signup-form.dialog
        .title
          h3 Signup
        .content
          p
            label(for='signup-username') Username: 
            input#signup-username(type='text', name='username')
          p
            label(for='signup-displayname') Display Name: (optional)
            input#signup-displayname(type='text', name='displayname')
          p
            label(for='signup-email') Email: 
            input#signup-email(type='text', name='email')
          p
            label(for='signup-password') Password: 
            input#signup-password(type='password', name='password')
        .controls
          button.submit Signup
          button.cancel Cancel
            
    // Login template
    script#login-template(type='text/template')
      #login-form.dialog
        .title
          h3 Login
        .content
          p
            label(for='login-username') Username: 
            input#login-username(type='text', name='username')
          p
            label(for='login-password') Password: 
            input#login-password(type='password', name='password')
        .controls
          button.submit Login
          button.cancel Cancel
    
    // Create new room
    script#create-room-template(type='text/template')
      #create-room-form.dialog
        .title
          h3 Create a new room
        .content
          p
            label(for='create-room-name') Name: 
            input#create-room-name(type='text', name='room', placeholder='Room name')
          p
            label(for='tags') Tags:
            input#tags(type='text', name='tags', placeholder='Tags')
          p
            label(for='create-room-description') Description:
            textarea#create-room-description(type='text', name='description', placeholder='Description')
          p
            label(for='create-room-image') Image
            input#create-room-image(type='file', name='image')
          p
            label(for='create-room-restricted') Private room:
            input#create-room-restricted(type='checkbox', name='restricted')
        .controls
          button.submit Create
          button.cancel Cancel
              
    // Main application
    script#application-template(type='text/template')
      a#heart(href='/')
        #heart-left
        #heart-right
        #heart-content
          
      .wrapper
        #header
          nav#navigation
            a(href='/#/') Home
            a#login Login
            a#signup Sign up
            a#settings Settings
            a#logout Logout
            a#create-room Create Room
            
        #sidebar
          #sidebar-controls
          
          #sidebar-up
            button#show-rooms Rooms
            button#show-users Users
            
          #sidebar-content  
            #users
            #rooms
            
          #search-form
            button#search-now Go
            input#search(type='text', name='search', placeholder='Search')
              
          #sidebar-down
            .statistics#app-stats
        
        #main
          #main-tabs
            button#news News
            button#help Help
            
          #main-controls
            .main-controls
              button.new-room Create Channel
              button.new-game Create Game
            
            .layout-controls
              button.list List
          
          #main-content
          
      #create-room-dialog
      #login-dialog
      #signup-dialog
      #settings-dialog
      #footer.container_16
        #copyright
          p &copy;
        #authors
          p.author Beau Sorensen
      #overlay

    // Application statistics
    script#application-stats-template(type='text/template')
      .stat.total-online
        span.title Online
        span.value {{ totalOnline }}
      .stat.total-users
        span.title Members
        span.value {{ totalUsers }}
      .stat.total-rooms
        span.title Rooms
        span.value {{ totalRooms }}
      .stat.version
        span.title Version
        span.value {{ version }}
    
    // User full
    script#user-template(type='text/template')
      .avatar: img(src='{{ avatar }}')
      h1.name
        span.headline {{ username }}
        span.destroy
      .details
        .created
          span.title Joined 
          abbr.value.timeago(title='{{ created }}') {{ created }}
        .last-online
          span.title Last Online
          abbr.value.timeago(title='{{ modified }}') {{ modified }}
        .status
          span.title Status
          span.value {{ status }}
        .email
          span.title Email
          span.value {{ email }}
        .bio
          span.title Bio
          span.value {{ bio }}
      
      .controls
        button.add-friend Add Friend
        button.send-message Send a Message
        button.call.submit Call
        button.video-chat.submit Video Call
        
       .wall
         .posts
         .post-form
           button.submit Post
           input.create-post(type='text', name='post', placeholder='Write on {{ username }}&rsquo;s wall', length='255')
        
        
      
    // User listing
    script#user-list-template(type='text/template')
      a(href='/#/users/{{ username }}')
        h3.name
          span.avatar: img(src='{{ avatar }}')
          span.username {{ username }}
      .statistics.user-stats
      
    // Room
    script#room-template(type='text/template')
      h1.name
        span.headline {{ name }}
        p.description {{ description }}
        span.destroy
      .statistics.room-stats
      
      .users
      .messages
      .message-form
        button Send
        input.create-message(type='text', name='message', placeholder='Say something...', length='255')

    // Room listing
    script#room-list-template(type='text/template')
      a(href='/#/rooms/{{ slug }}')
        h3.name
          span {{ name }}
          span.destroy
        p.description {{ description }}
      .statistics.room-stats
      .ranking
      
    // Room rankings
    script#room-rank-template(type='text/template')
      .rank {{ rank }}
      button.upvote: span.arrow-wrap: span.arrow &uarr;
      button.downvote: span.arrow-wrap: span.arrow &darr;
      
    // Room statistics
    script#room-stats-template(type='text/template')
      .stat.total-messages
        span.title Messages
        span.value {{ totalMessages }}
        
    // Single message
    script#message-list-template(type='text/template')
    script#message-template(type='text/template')
      span.avatar: img(src='{{ avatar }}')
      a.username(href='#/users/{{ username }}') {{ displayName }}
      span.data {{ text }}
      abbr.created.timeago(title='{{ created }}') {{ created }}
    
    // Application core
    script(src="/bootstrap.js")
    
    // Helpers
    script(src="/js/ui.js")
    script(src="/js/helpers.js")
    
    // Remote procedure calls
    script(src="/rpc/authRPC.js")
    script(src="/rpc/pubsubRPC.js")
    script(src="/rpc/crudRPC.js")
    script(src="/rpc/gravatarRPC.js")
    script(src="/rpc/uploadRPC.js")
    
    // Models
    script(src="/models/messageModel.js")
    script(src="/models/roomModel.js")
    script(src="/models/userModel.js")
    script(src="/models/appModel.js")
    
    // Views
    script(src="/views/userView.js")
    script(src="/views/messageView.js")
    script(src="/views/roomView.js")
    script(src="/views/appView.js")
    
    // Controllers
    script(src="/controllers/appController.js")
    
    // Start application
    script(src="/init.js")
    
    script(type='text/javascript')
      var port    = '!{locals.port}',
          token   = '!{locals.token}',
          version = '!{locals.version}';
  body: div#application