!!! 5
html(lang="en")
  head
    title &AElig;bleskiver
    
    // CSS
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/grid.css')
    link(rel='stylesheet', href='css/aebleskiver/jquery-ui-1.8.11.aebleskiver.css')
    
    // Dependencies
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js")
    script(src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.10/jquery-ui.min.js")
    script(src="/js/modernizr-1.7.min.js")
    script(src="/js/underscore-min.js")
    script(src="/js/backbone.js")
    script(src="/js/mustache.js")
    script(src="/js/json2.js")
    script(src="/dnode.js")
    
    
    script(type='text/javascript')
      WebFontConfig = {
        google: {families: [ 
          'Droid+Sans', 
          'Crushed', 
          'Dancing+Script', 
          'Dawning+of+a+New+Day', 
          'Waiting+for+the+Sunrise', 
          'Tangerine', 
          'Smythe', 
          'Cuprum', 
          'Arvo', 
          'Irish+Grover',
          'Goudy+Bookletter+1911',
          'Ubuntu', 
          'Sue+Ellen+Francisco', 
          'Kreon' 
        ]}
      };
      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
          '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })();
    
    // Settings template
    script#settings-template(type='text/template')
      #settings-form.dialog
        .title
          h3 Settings
        .content
          p
            label Username: 
            input(type='text', name='username', disabled='disabled')
          p
            label Display Name: (optional)
            input(type='text', name='displayname')
          p
            label Email: 
            input(type='text', name='email')
          p
            label Password: 
            input(type='password', name='password')
        .controls
          button.submit Save
          button.cancel Cancel
          
    // Registration template
    script#signup-template(type='text/template')
      #signup-form.dialog
        .title
          h3 Signup
        .content
          p
            label Username: 
            input(type='text', name='username')
          p
            label Display Name: (optional)
            input(type='text', name='displayname')
          p
            label Email: 
            input(type='text', name='email')
          p
            label Password: 
            input(type='password', name='password')
        .controls
          button.submit Signup
          button.cancel Cancel
            
    // Login template
    script#login-template(type='text/template')
      #login-form.dialog
        .title
          h3 Login
        .content
          p
            label Username: 
            input(type='text', name='username')
          p
            label Password: 
            input(type='password', name='password')
        .controls
          button.submit Login
          button.cancel Cancel
    
    // Create new room
    script#create-room-template(type='text/template')
      #create-room-form.dialog
        .title
          h3 Create a new room
        .content
          p
            label Name: 
            input(type='text', name='room', placeholder='Room name')
        .controls
          button.submit Create
          button.cancel Cancel
    
    // User listing
    script#user-list-template(type='text/template')
      a(href='#/user/{{ username }}')
        h3.name
          span: img(src='{{ avatar }}')
          span {{ username }}
          span.destroy
      .statistics.user-stats
    
    // User full
    script#user-template(type='text/template')
      a.gravatar(href='#/user/{{ username }}'): span: img(src='{{ avatar }}')
      span.username {{ username }}
              
    // Main application
    script#application-template(type='text/template')
      span.massive.top-text beau
      span.massive.bottom-text sorensen
      
      a#heart(href='/')
        #heart-left
        #heart-right
        #heart-content
          
      .wrapper
        #header
          h1#logo Sorensen
          nav#navigation
            // a(href='/#/') Home
            a#login Login
            a#signup Sign up
            a#settings Settings
            a#logout Logout
            a#show-users Users
            a#show-rooms Rooms
            a#create-room Create Room
            
        #sidebar
          #sidebar-controls
          
          #sidebar-up
          #sidebar-content  
            #users
            #rooms
          #sidebar-down
            .statistics#app-stats
        
        #main
          #main-tabs
            button#news News
            button#help Help
            
          #main-controls
            .main-controls
              button.new-room Create Channel
              button.new-game Create Game
            
            .layout-controls
              button.list List
          
          #main-content
          
      #create-room-dialog
      #login-dialog
      #signup-dialog
      #settings-dialog
      #footer.container_16
        #copyright
          p &copy;
        #authors
          p.author Beau Sorensen
      #overlay

    // Application statistics
    script#application-stats-template(type='text/template')
      .stat.total-messages
        span.title Messages
        span.value {{ totalMessages }}
      .stat.total-users
        span.title Users
        span.value {{ totalUsers }}
      .stat.total-rooms
        span.title Rooms
        span.value {{ totalRooms }}
      .stat.version
        span.title Version
        span.value {{ version }}
    
    // Room room
    script#room-template(type='text/template')
      h1.name
        span.headline {{ name }}
        span.destroy
      .statistics.room-stats
      
      p.description {{ description }}
      .users
      .messages
      form.message-form(method="post", action="#", onsubmit="return false")
        button Send
        input.create-message(type='text', name='message', placeholder='Say something...', length="40")

    // Room listing
    script#room-list-template(type='text/template')
      a(href='#/rooms/{{ id }}')
        h3.name
          span {{ name }}
          span.destroy
      p.description {{ description }}
      .statistics.room-stats
      
    // Room statistics
    script#room-stats-template(type='text/template')
      .stat.total-messages
        span.title Messages
        span.value {{ totalMessages }}
        
    // Single message
    script#message-list-template(type='text/template')
    script#message-template(type='text/template')
      span.created {{ created }}
      span.avatar: img(src='{{ avatar }}')
      a.username(href='#/users/{{ username }}') {{ username }}
      span.data {{ text }}
    
    // Application core
    script(src="/bootstrap.js")
    
    // Helpers
    script(src="/js/ui.js")
    script(src="/js/helpers.js")
    
    // Remote procedure calls
    script(src="/rpc/authRPC.js")
    script(src="/rpc/pubsubRPC.js")
    script(src="/rpc/crudRPC.js")
    script(src="/rpc/gravatarRPC.js")
    
    // Models
    script(src="/models/messageModel.js")
    script(src="/models/roomModel.js")
    script(src="/models/userModel.js")
    script(src="/models/appModel.js")
    
    // Views
    script(src="/views/userView.js")
    script(src="/views/messageView.js")
    script(src="/views/roomView.js")
    script(src="/views/appView.js")
    
    // Controllers
    script(src="/controllers/appController.js")
    
    // Start application
    script(src="/init.js")
  body
    #application
    #port= locals.port
    #token= locals.token
    #version= locals.version