//-   Aebleskiver
//-   (c) 2011 Beau Sorensen
//-   Aebleskiver may be freely distributed under the MIT license.
//-   For all details and documentation:
//-   https://github.com/sorensen/aebleskiver

!!! 5
html(lang='en')
  head
    title &AElig;bleskiver
    link(rel='stylesheet', href='/css/style.css')
  body!=body
