!!! 5
html(lang="en")
  head
    title nodechat
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js")
    script(src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.10/jquery-ui.min.js")

    link(rel='stylesheet', href='/css/style.css')
    style(type='text/css') @import url('//ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/themes/black-tie/jquery-ui.css');
  head
    title Register
  body
    #wrapper
      #login
        h1 Welcome
       
        form(method="post", action="/register")
          p
            label Username:
            input(type='text', name='username')
          p
            label Password:
            input(type='password', name='password')
          P
            input#submit-registration(type='submit', value='register')
            a(href="/login") Login