!!! 5
html(lang="en")
  head
    title &AElig;bleskiver
    
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js")
    script(src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.10/jquery-ui.min.js")
    script(src="//cdn.wijmo.com/jquery.wijmo-open.1.1.2.min.js")
    script(src="jquery.livequery.js")

    link(rel='stylesheet', href='/css/style.css')
    style(type='text/css') @import url('//cdn.wijmo.com/jquery.wijmo-open.1.1.2.css');
    link(rel='stylesheet', href='css/aebleskiver/jquery-ui-1.8.11.aebleskiver.css')
    script(src="ui.js")
    script(src="secure.js")
  head
    title Register
  body
    #wrapper
      #register.authenticate
        h1 Registration
       
        form(method="post", action="/register")
          p
            label Username:
            input(type='text', name='username')
          p
            label Display Name:
            input(type='text', name='displayname')
          p
            label Email:
            input(type='text', name='email')
          p
            label Password:
            input(type='password', name='password')
          P
            input#submit-registration(type='submit', value='register')
            a(href="/login") Login