@import url('aebleskiver/jquery-ui-1.8.11.aebleskiver.css');
@import url('vendor/wijmo-open.css');
@import url('vendor/jquery.cssemoticons.css');
@import url('vendor/jquery.meow.css');
/*
 * HTML5 ✰ Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */


/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Force vertical scrollbar in non-IE
 * 3. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; font-size: 13px; line-height: 1.231; }

body, button, input, select, textarea { 
    /*font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #222; 
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)

::-moz-selection { background: #ffcc89; color: #222; text-shadow: none; }
::selection { background: #ffcc89; color: #222; text-shadow: none; }
 */


/* =============================================================================
   Links
   ========================================================================== */

/**
a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
**/
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

p {
    margin: 0 0 9px 0;
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #222;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
}
h1 {
    font-size: 24px;
}
h2 {
    font-size: 18px;
}
h3 {
    font-size: 14px;
}

/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/e
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9
 */

svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */

legend { border: 0; *margin-left: -7px; padding: 0; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */

button, input { line-height: normal; *overflow: visible; }

/*
 * Reintroduce inner spacing in 'table' to avoid overlap and whitespace issues in IE6/7
 */

table button, table input { *overflow: auto; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

/* =============================================================================
   Buttons 
   extra types - ( primary, danger/error, success, info )
   extra sizes - ( large, small )
   ========================================================================== */

a.button {
    text-decoration: none;
}
button,
input,
select,
textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle;
}
button, input {
    line-height: normal;
    *overflow: visible;
}
button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
}
input[type="search"] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

.button.danger,
.alert-message.danger,
.button.danger:hover,
.alert-message.danger:hover,
.button.error,
.alert-message.error,
.button.error:hover,
.alert-message.error:hover,
.button.success,
.alert-message.success,
.button.success:hover,
.alert-message.success:hover,
.button.info,
.alert-message.info,
.button.info:hover,
.alert-message.info:hover {
    color: #ffffff;
}
.button.danger,
.alert-message.danger,
.button.error,
.alert-message.error {
    background-color: #c43c35;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#ee5f5b), to(#c43c35));
    background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ee5f5b), color-stop(100%, #c43c35));
    background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: linear-gradient(top, #ee5f5b, #c43c35);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#c43c35', GradientType=0);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-color: #c43c35 #c43c35 #882a25;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.button.success, .alert-message.success {
    background-color: #57a957;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#62c462), to(#57a957));
    background-image: -moz-linear-gradient(top, #62c462, #57a957);
    background-image: -ms-linear-gradient(top, #62c462, #57a957);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #62c462), color-stop(100%, #57a957));
    background-image: -webkit-linear-gradient(top, #62c462, #57a957);
    background-image: -o-linear-gradient(top, #62c462, #57a957);
    background-image: linear-gradient(top, #62c462, #57a957);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462', endColorstr='#57a957', GradientType=0);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-color: #57a957 #57a957 #3d773d;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.button.info, .alert-message.info {
    background-color: #339bb9;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#5bc0de), to(#339bb9));
    background-image: -moz-linear-gradient(top, #5bc0de, #339bb9);
    background-image: -ms-linear-gradient(top, #5bc0de, #339bb9);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5bc0de), color-stop(100%, #339bb9));
    background-image: -webkit-linear-gradient(top, #5bc0de, #339bb9);
    background-image: -o-linear-gradient(top, #5bc0de, #339bb9);
    background-image: linear-gradient(top, #5bc0de, #339bb9);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de', endColorstr='#339bb9', GradientType=0);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-color: #339bb9 #339bb9 #22697d;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.button {
    cursor: pointer;
    display: inline-block;
    background-color: #e6e6e6;
    background-repeat: no-repeat;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
    background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
    background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
    background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
    background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
    padding: 5px 14px 6px;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    color: #333;
    font-size: 13px;
    line-height: normal;
    border: 1px solid #ccc;
    border-bottom-color: #bbb;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -webkit-transition: 0.1s linear all;
    -moz-transition: 0.1s linear all;
    transition: 0.1s linear all;
}
.button:hover {
    background-position: 0 -15px;
    color: #333;
    text-decoration: none;
}
.button.primary {
    color: #fff;
    background-color: #0064cd;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#049cdb), to(#0064cd));
    background-image: -moz-linear-gradient(top, #049cdb, #0064cd);
    background-image: -ms-linear-gradient(top, #049cdb, #0064cd);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #049cdb), color-stop(100%, #0064cd));
    background-image: -webkit-linear-gradient(top, #049cdb, #0064cd);
    background-image: -o-linear-gradient(top, #049cdb, #0064cd);
    background-image: linear-gradient(top, #049cdb, #0064cd);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#049cdb', endColorstr='#0064cd', GradientType=0);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-color: #0064cd #0064cd #003f81;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.button.dark {
    color: #fff;
    background-color: #444;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#555555), to(#444444));
    background-image: -moz-linear-gradient(top, #555555, #444444);
    background-image: -ms-linear-gradient(top, #555555, #444444);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #555555), color-stop(100%, #444444));
    background-image: -webkit-linear-gradient(top, #555555, #444444);
    background-image: -o-linear-gradient(top, #555555, #444444);
    background-image: linear-gradient(top, #555555, #444444);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#555555', endColorstr='#444444', GradientType=0);

    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-color: #444444 #444444 #111111;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.button:active {
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.button.disabled {
    cursor: default;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    filter: alpha(opacity=65);
    -khtml-opacity: 0.65;
    -moz-opacity: 0.65;
    opacity: 0.65;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.button[disabled] {
    cursor: default;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    filter: alpha(opacity=65);
    -khtml-opacity: 0.65;
    -moz-opacity: 0.65;
    opacity: 0.65;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.button.large {
    font-size: 16px;
    line-height: normal;
    padding: 9px 14px 9px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.button.small {
    padding: 7px 9px 7px;
    font-size: 11px;
}

button.button::-moz-focus-inner, input[type=submit].button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

/* =============================================================================
   Alert Messages
   ========================================================================== */

.alert-message {
    background-color: #eedc94;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#fceec1), to(#eedc94));
    background-image: -moz-linear-gradient(top, #fceec1, #eedc94);
    background-image: -ms-linear-gradient(top, #fceec1, #eedc94);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fceec1), color-stop(100%, #eedc94));
    background-image: -webkit-linear-gradient(top, #fceec1, #eedc94);
    background-image: -o-linear-gradient(top, #fceec1, #eedc94);
    background-image: linear-gradient(top, #fceec1, #eedc94);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fceec1', endColorstr='#eedc94', GradientType=0);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-color: #eedc94 #eedc94 #e4c652;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    margin-bottom: 18px;
    padding: 7px 14px;
    color: #404040;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    border-width: 1px;
    border-style: solid;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
}
.alert-message h5 {
    line-height: 18px;
}
.alert-message p {
    margin-bottom: 0;
}
.alert-message div {
    margin-top: 5px;
    margin-bottom: 2px;
    line-height: 28px;
}
.alert-message .button {
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
}
.alert-message .close {
    float: right;
    margin-top: -2px;
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 0 1px 0 #ffffff;
    filter: alpha(opacity=20);
    -khtml-opacity: 0.2;
    -moz-opacity: 0.2;
    opacity: 0.2;
}
.alert-message .close:hover {
    color: #000000;
    text-decoration: none;
    filter: alpha(opacity=40);
    -khtml-opacity: 0.4;
    -moz-opacity: 0.4;
    opacity: 0.4;
}
.alert-message.block-message {
    background-image: none;
    background-color: #fdf5d9;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    padding: 14px;
    border-color: #fceec1;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.alert-message.block-message p {
    margin-right: 30px;
}
.alert-message.block-message .alert-actions {
    margin-top: 5px;
}
.alert-message.block-message.error, .alert-message.block-message.success, .alert-message.block-message.info {
    color: #404040;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.alert-message.block-message.error {
    background-color: #fddfde;
    border-color: #fbc7c6;
}
.alert-message.block-message.success {
    background-color: #d1eed1;
    border-color: #bfe7bf;
}
.alert-message.block-message.info {
    background-color: #ddf4fb;
    border-color: #c6edf9;
}
.alert-message ul, .alert-message ol {
    margin: 0;
    padding: 0;
    list-style: none outside;
}

/* =============================================================================
   Form styles
   ========================================================================== */

form {
    margin-bottom: 18px;
}
fieldset {
    margin-bottom: 18px;
    padding-top: 18px;
}
fieldset legend {
    display: block;
    margin-left: 150px;
    font-size: 20px;
    line-height: 1;
    *margin: 0 0 5px 145px;
    /* IE6-7 */

    *line-height: 1.5;
    /* IE6-7 */

    color: #404040;
}
label,
input,
select,
textarea {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: normal;
}
label {
    padding-right: 5px;
    padding-top: 6px;
    font-size: 13px;
    line-height: 18px;
    float: left;
    width: 130px;
    text-align: right;
    color: #404040;
}
div.input {
    margin-left: 150px;
}
input[type=checkbox], input[type=radio] {
    cursor: pointer;
}
input,
textarea,
select,
.uneditable-input {
    display: inline-block;
    width: 210px;
    height: 18px;
    padding: 4px;
    font-size: 13px;
    line-height: 18px;
    color: #808080;
    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
select[multiple] {
    height: auto;
}

/* mini reset for non-html5 file types */
input[type=checkbox], input[type=radio] {
    width: auto;
    height: auto;
    padding: 0;
    margin: 3px 0;
    *margin-top: 0;
    /* IE6-7 */

    line-height: normal;
    border: none;
}
input[type=file] {
    background-color: #fff;
    padding: initial;
    border: initial;
    line-height: initial;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
input[type=button], input[type=reset], input[type=submit] {
    width: auto;
    height: auto;
}
select, input[type=file] {
    height: 27px;
    line-height: 27px;
}
textarea {
    height: auto;
}
.uneditable-input {
    background-color: #eee;
    display: block;
    border-color: #ccc;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
}
:-moz-placeholder {
    color: #aaa;
}
::-webkit-input-placeholder {
    color: #aaa;
}
input, select, textarea {
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    margin-right: 10px;
}
.actions input {
    margin-right: 0;
}
input:focus, textarea:focus {
    outline: none;
    border-color: rgba(82, 168, 236, 0.8);
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
}
form .clearfix.error {
    background: #fae5e3;
    padding: 10px 0;
    margin: -10px 0 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
form .error > label, form .error span.help-inline, form .error span.help-block {
    color: #9d261d;
}
form .error input, form .error textarea,
form input.error, form textarea.error {
    border-color: #c87872;
    -webkit-box-shadow: 0 0 3px rgba(171, 41, 32, 0.25);
    -moz-box-shadow: 0 0 3px rgba(171, 41, 32, 0.25);
    box-shadow: 0 0 3px rgba(171, 41, 32, 0.25);
}
form .error input:focus, form .error textarea:focus {
    border-color: #b9554d;
    -webkit-box-shadow: 0 0 6px rgba(171, 41, 32, 0.5);
    -moz-box-shadow: 0 0 6px rgba(171, 41, 32, 0.5);
    box-shadow: 0 0 6px rgba(171, 41, 32, 0.5);
}
form .error .input-prepend span.add-on, form .error .input-append span.add-on {
    background: #f4c8c5;
    border-color: #c87872;
    color: #b9554d;
}
.input-mini,
input.mini,
textarea.mini,
select.mini {
    width: 60px;
}
.input-small,
input.small,
textarea.small,
select.small {
    width: 90px;
}
.input-medium,
input.medium,
textarea.medium,
select.medium {
    width: 150px;
}
.input-large,
input.large,
textarea.large,
select.large {
    width: 210px;
}
.input-xlarge,
input.xlarge,
textarea.xlarge,
select.xlarge {
    width: 270px;
}
.input-xxlarge,
input.xxlarge,
textarea.xxlarge,
select.xxlarge {
    width: 530px;
}
textarea.xxlarge {
    overflow-y: scroll;
}
input[readonly]:focus, textarea[readonly]:focus, input.disabled {
    background: #f5f5f5;
    border-color: #ddd;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.actions {
    background: #f5f5f5;
    margin-top: 18px;
    margin-bottom: 18px;
    padding: 17px 20px 18px 150px;
    border-top: 1px solid #ddd;
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
}
.actions .secondary-action {
    float: right;
}
.actions .secondary-action a {
    line-height: 30px;
}
.actions .secondary-action a:hover {
    text-decoration: underline;
}


/* overrides */
.auto-width {
    width: auto;
}
.auto-width label {
    width: auto;
}

/* ==|== primary styles =====================================================
   ========================================================================== */

/* Headers (h1, h2, etc) have no default font-size or margin; define those yourself */
h1, h2, h3, h4, h5, h6 { font-weight: bold; }
a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }

/**
    Custom helpers
**/
.rounded {
     -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
          border-radius: 8px;
}
.transition {
     -moz-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}
.rotate {
     -moz-transform: rotate(7.5deg);
       -o-transform: rotate(7.5deg);
  -webkit-transform: rotate(7.5deg);
      -ms-transform: rotate(7.5deg);
          transform: rotate(7.5deg);
             filter: progid:DXImageTransform.Microsoft.Matrix(
                     M11=0.9914448613738104, M12=-0.13052619222005157,M21=0.13052619222005157, M22=0.9914448613738104, sizingMethod='auto expand');
               zoom: 1;
}

/**
    Template
**/
#port,
#token,
#version,
#rooms .stat .title,
#sidebar-down,
#main-content
{
    display: none;
}
/**
    Top Rounded corners
**/
.dialog .title,
{
       -moz-border-radius: 8px 8px 0 0;
    -webkit-border-radius: 8px 8px 0 0;
            border-radius: 8px 8px 0 0;
}
/**
    Bottom Rounded corners
**/
.dialog .controls
{
       -moz-border-radius: 0 0 8px 8px;
    -webkit-border-radius: 0 0 8px 8px;
            border-radius: 0 0 8px 8px;
}
/**
    Full Rounded corners
**/
.dialog
{
       -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
            border-radius: 8px;
}
/**
    Transitions
**/
body .ui-dialog,
.wrapper,
#navigation,
#navigation li,
#main,
#main-content,
#sidebar,
#sidebar-wrapper,
#sidebar-controls,
#sidebar-content,
.friend-list,
.favorite-list
{
     -moz-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}
/**
    Shadows
**/
.dialog,
.friend-wrapper,
.stats-wrapper,
.favorite-wrapper
{
       -moz-box-shadow: 1px 1px 4px #222;
    -webkit-box-shadow: 1px 1px 4px #222;
            box-shadow: 1px 1px 4px #222;
}
.main-room .name,
.user-profile .name,
#sidebar-controls
{
    background-color: #eee;
    background-image: -moz-linear-gradient(top, #eee, #fff);
    background-image: -o-linear-gradient(top, #eee, #fff);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eee),color-stop(1, #fff));
    background-image: -webkit-linear-gradient(#eee, #fff);
    background-image: linear-gradient(top, #eee, #fff);

    background-color: #efefef;
    background-image: -moz-linear-gradient(top, #efefef, #dddddd);
    background-image: -o-linear-gradient(top, #efefef, #dddddd);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #efefef),color-stop(1, #dddddd));
    background-image: -webkit-linear-gradient(#efefef, #dddddd);
    background-image: linear-gradient(top, #efefef, #dddddd);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#efefef', EndColorStr='#dddddd');
}
#sidebar-down
{
    background-color: #fff;
    background-image: -moz-linear-gradient(top, #fff, #eee);
    background-image: -o-linear-gradient(top, #fff, #eee);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #fff),color-stop(1, #eee));
    background-image: -webkit-linear-gradient(#fff, #eee);
    background-image: linear-gradient(top, #fff, #eee);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fff', EndColorStr='#eee');

    background-color: #efefef;
    background-image: -moz-linear-gradient(top, #efefef, #dddddd);
    background-image: -o-linear-gradient(top, #efefef, #dddddd);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #efefef),color-stop(1, #dddddd));
    background-image: -webkit-linear-gradient(#efefef, #dddddd);
    background-image: linear-gradient(top, #efefef, #dddddd);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#efefef', EndColorStr='#dddddd');
}

/**
    Typography styles
**/
h1,h2,h3,h4,h5,h6 {
    margin: 0;
    font-weight: normal;
}
h1 {
    font-size: 22px;
    /* margin: 20px 20px 0; */
}
h2 {
    font-size: 22px;
}
h3 {
    font-size: 18px;
}
h4,h5,h6 {
    font-size: 18px;
}
label {
    font-size: 15px;
    line-height: 30px;
}
button,
.button,
.submit,
input[type='submit'],
input[type='text'],
input[type='password'],
input[type='email'],
input[type='search'],
textarea
{
    color: #555;
    font-weight: normal;
    font-family: 'Droid Sans', Arial, sans-serif;
    font-size: 16px;
    line-height: 1;

    border: 1px solid #B0B0B0;
       -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
            border-radius: 4px;
}
input[type='text'],
input[type='password'],
input[type='email'],
input[type='search'],
textarea
{
    font-size: 16px;
    text-shadow: 1px 1px 1px white;
    font-weight: bold;
    padding: 0 7px;
    height: 30px;
    line-height: 1;

    background-color: #fff;
    background-image: -moz-linear-gradient(top, #fff, #efefef);
    background-image: -o-linear-gradient(top, #fff, #efefef);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #fff),color-stop(1, efefef));
    background-image: -webkit-linear-gradient(#fff, #efefef);
    background-image: linear-gradient(top, #fff, #efefef);
              filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fff', EndColorStr='#efefef');
}
textarea {
    height: auto;
    min-height: 75px;
    padding: 7px;
}

.icon {
    height: 40px;
    width: 40px;
    padding: 5px;
    float: left;
}

html {
    height: 100%;
    background: #d8d8d8;
    overflow: hidden;
}
body {
    height: 100%;
    line-height: 1.6;
}

#fork-me {
    position: absolute;
    top: 0;
    overflow: hidden;
    height: 143px;
    right: -14px;
}
    .ribbon {
        font-family: Collegiate, sans-serif;
        letter-spacing: -.1px;
        line-height: 1.4;

        opacity: 0.95;
        padding: 6px 0;
        position: relative;
        top: 50px;
        display: block;

           -moz-box-shadow: 0 0 13px #888;
        -webkit-box-shadow: 0 0 13px #888;

        background: -webkit-gradient(linear, left bottom, left top, from(#9A0000), to(#A90000));
        background: -webkit-gradient(linear, left bottom, left top, from(#9A0000), to(#A90000));

           -moz-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        right: -30px;
    }
    .ribbon, .ribbon:link, .ribbon:visited, .ribbon:hover {
        color: white;
        text-decoration: none;
    }
        .ribbon span {
            font-size: 12px;
            line-height: 16px;
            padding: 4px 50px;
            border: 1px solid #BF6060;
        }
#application {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    min-height: 238px;
    min-width: 410px;
}
.wrapper {
    height: 100%;
}
#header {
    width: 100%;
    z-index: 9;
    height: 29px;

    border-bottom: 1px solid #AAA;
    border-left: 1px solid #aaa;
    border-right: 1px solid #dedede;
    background-color: #EEE;
    background-image: -moz-linear-gradient(top, #EEE, #CCC);
    background-image: -o-linear-gradient(top, #EEE, #CCC);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #EEE),color-stop(1, #CCC));
    background-image: -webkit-linear-gradient(#EEE, #CCC);
    background-image: linear-gradient(top, #EEE, #CCC);
              filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#EEE', EndColorStr='#CCC');
}
    #logo {
        display: none;
        position: absolute;
        left: 0;
        padding: 0 20px;
        margin: 0;
        font-size: 30px;
        font-weight: bold;
        text-shadow: 2px 2px 2px #fff;
        line-height: 50px;
        height: 50px;
        top: 0;
        bottom: 0;
        color: #891100;

        color: #45281C;
        text-decoration: none;
        text-shadow: 0 1px 0 rgba(255, 255, 255, .3);
        filter: dropshadow(color=#BF8F6B,offX=0,offY=1);
    }
/**
    Main menu
**/
#navigation {
    min-width: 300px;
    position: absolute;
    height: 30px;
    margin: 0;
    left: 0;
    right: 0;
    border-left: 1px solid #aaa;
    color: #444;
    list-style: none outside;
    text-shadow: 1px 1px 1px #fff;
    text-align: left;
    font-size: 13px;
    z-index: 99;
}
    #navigation a,
    #sidebar-up button {
        padding: 0 20px;
        border-left: 1px solid #DEDEDE;
        border-right: 1px solid #AAA;
        color: #444;
        text-decoration: none;
        text-shadow: 1px 1px 1px #efefef;
        line-height: 30px;
        float: left;
        cursor: pointer;
    }
        #navigation a:hover,
        #sidebar-up button:hover {
            color: #000;
            text-shadow: 1px 1px 1px #fff;
            background-color: #fff;
            background-image: -moz-linear-gradient(top, #fff, #EFEFEF);
            background-image: -o-linear-gradient(top, #fff, #EFEFEF);
            background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #fff),color-stop(1, #EFEFEF));
            background-image: -webkit-linear-gradient(#fff, #EFEFEF);
            background-image: linear-gradient(top, #fff, #EFEFEF);
                      filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fff', EndColorStr='#EFEFEF');
            }
    #navigation a {
        height: 30px;
        overflow: hidden;
        display: block;
    }
    #navigation a.icon {
        padding: 0;
    }
        #navigation a.icon svg {
            margin: 5px 9px;
        }

/**
    Sidebar
**/
#sidebar-wrapper {
    width: 200px;
    top: 0;
    bottom: 0;
    margin: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
}
#sidebar {
    width: 200px;
    top: 30px;
    bottom: 0;
    margin: 0;
    left: 0;
    position: absolute;
    z-index: 2;
}
    #sidebar-down .statistics {
        border-right: 1px solid #aaa;
        height: 70px;
        background: #f5f5f5;
        left: 8px;
        padding-top: 12px;

           -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
                border-radius: 4px;

           -moz-box-shadow: inset 1px 1px 3px #5d5d5d;
        -webkit-box-shadow: inset 1px 1px 3px #5d5d5d;
                box-shadow: inset 1px 1px 3px #5d5d5d;
    }
        #sidebar-down .stat .title {
            color: #777;
            text-shadow: 1px 1px 1px white;
            font-size: 12px;
            line-height: 15px;
            margin: 0 5px;
        }
        #sidebar-down .stat .value {
            color: #777;
            text-shadow: 1px 1px 1px white;
            line-height: 15px;
            padding: 0;
            margin-right: 5px;
            text-align: right;
            font-size: 12px;
            width: auto;
        }
        #sidebar-down .info .title {
        }
        #sidebar-down .info .value {
            color: #111;
        }
    #sidebar-content {
        top: 0;
        bottom: 50px;
        overflow: auto;
        background: #EEE;
        clear: both;
        position: absolute;
        left: 0;
        right: 0;
    }


/**
    Search form
**/
#search-form {
    position: absolute;
    background: #EEE;
    height: 49px;
    left: 0;
    right: 0;
    bottom: 0;
    border-top: 1px solid #bbb;
    border-right: 1px solid #aaa;
}
    #search-form .input-wrap {
        display: block;
        position: absolute;
        left: 10px;
        top: 10px;
        right: 70px;
        bottom: 0;
    }
    #search {
        width: 100%;
        padding-left: 12px;
           -moz-border-radius: 20px 0 0 20px;
        -webkit-border-radius: 20px 0 0 20px;
                border-radius: 20px 0 0 20px;
    }
    #search-now {
        width: 40px;
        position: absolute;
        right: 0;
        padding: 0 10px;
        margin: 10px;
        height: 32px;
           -moz-border-radius: 0 20px 20px 0;
        -webkit-border-radius: 0 20px 20px 0;
                border-radius: 0 20px 20px 0;

           -moz-box-shadow: none;
        -webkit-box-shadow: none;
                box-shadow: none;
    }

/**
    Sidebar list items
**/
.room {
    min-height: 45px;
    border-right: 1px solid #aaa;
    position: relative;
    padding: 0;
    cursor: pointer;
    border-bottom: 1px solid #aaa;
    z-index: 5;
    background-color: #eee;
    background-image: -moz-linear-gradient(top, #eee, #ddd);
    background-image: -o-linear-gradient(top, eee, #ddd);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eee),color-stop(1, #ddd));
    background-image: -webkit-linear-gradient(#eee, #ddd);
    background-image: linear-gradient(top, #eee, #ddd);
              filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#eee', EndColorStr='#ddd');
}
#rooms .room.active {
    border-right: 1px solid #fafafa;
    background-color: #fff;
    background-image: -moz-linear-gradient(left, #fff, #fafafa);
    background-image: -o-linear-gradient(left, #fff, #fafafa);
    background-image: -webkit-gradient(linear,left,right,color-stop(0, #fff),color-stop(1, #fafafa));
    background-image: -webkit-linear-gradient(left, #fff, #fafafa);
    background-image: linear-gradient(left, #fff, #fafafa);
              filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fff', EndColorStr='#fafafa');

}

.room a {
    display: block;
    overflow: hidden;
    text-decoration: none;
    padding: 0;
    color: #333;
    text-shadow: 1px 1px 1px #efefef;
    height: auto;
    max-height: 130px;
    line-height: 45px;
}
.room .statistics {
    top: 10px;
}
.room .name {
    font-size: 12px;
    overflow: hidden;
    margin: 15px 50px 10px 10px;
    font-weight: bold;
    line-height: 1.3;
}
.room .description {
    margin: 5px;
    padding: 5px;
}
    #room-form {
        font-size: 14px;
    }
    #create-room-button {
        margin: 0 10px 0 10px;
        padding: 5px 0;
        float: left;
        width: 23%;
    }
    #create-room-input {
        margin: 10px;
        display: block;
        padding: 3px 5px;
        width: 62%;
    }

    body .ui-widget {
        font-family: 'Droid Sans', Arial, sans-serif;
        font-size: 14px;
        line-height: 1;
    }
    .ranking {
        position: absolute;
        right: 5px;
        width: 40px;
        padding: 0 0 0 8px;

        top: 0;
        height: 45px;
    }
        .upvote,
        .downvote
        {
            position: absolute;
            padding: 0;
            right: 2px;
            margin: 3px;
            height: 20px;
            width: 12px;
            font-size: 12px;
            line-height: 20px;
            font-weight: bold;
        }
        .upvote {
            top: 2px;
            border: 0;
        }
        .downvote {
            bottom: 2px;
            border: 0;
        }
        .rank {
            padding: 0;
            float: left;
            display: block;
            font-weight: bold;
            text-align: center;
            width: 20px;
            height: 45px;
            line-height: 45px;
            color: #444;
        }

/**
    Main content screens
**/
#main {
    top: 30px;
    bottom: 0;
    margin: 0;
    position: absolute;
    width: 100%;
    left: 0;
    margin: 0;
}
    #main-tabs {
        display: none;
        height: 40px;
    }
    #main-content {
        background: #fafafa;
        height: 100%;
        min-height: 153px;
        clear: both;
        margin-left: 200px;
        min-width: 215px;
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        z-index: 3;
    }
    #main-controls {
        display: none;
        padding: 8px;
        height: 40px;
        background: white;
        overflow: hidden;
    }
        #main-controls * { display: none; }
    .layout-controls {
        float: right;
    }

.main-room,
.user-profile {
    margin: 0;
    height: 100%;
    position: relative;
}
.headline {
    font-weight: 600;
    text-shadow: 1px 1px 1px white;
    position: absolute;
    left: 10px;
    right: 10px;
    overflow: hidden;
}
.description {
    font-size: 13px;
    line-height: 1.6;
    margin: 50px 10px 10px;
    display: none;
}
.main-room .controls {
    float: right;
    display: none;
}
    .admin-controls {
        display: none;
        position: absolute;
        top: 65px;
        right: 10px;
    }
        .editable .admin-controls {
            display: block;
            display: none;
        }
        .admin-controls button {
            font-size: 11px;
        }
.main-room .name,
.user-profile .name {
    overflow: hidden;
    line-height: 50px;
    font-size: 20px;
    margin: 0;
    position: relative;
    top: 0;
    padding: 0;
    height: 50px;
    border-bottom: 1px solid #aaa;
}
    .user-profile .name {
        height: 50px;
    }

.destroy {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 20px;
    width: 20px;
    margin: 10px;
    display: none;
    cursor: pointer;
    background: url(../images/destroy.png) no-repeat 0 0;
}
    .destroy {
        display: block;
    }
    .destroy:hover {
        background-position: 0 -20px;
    }
    .room .destroy {
        display: none;
    }

/**
    User profile specifics
**/
.user-profile {

}
    .user-profile .details {
        margin: 10px;
        background: #ddd;
           -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
                border-radius: 4px;
    }
        .details div {
            border-top: 1px solid #fff;
            padding: 5px 10px;
            width: 100%;
        }
            .details div:first-child {
                border-top: 0;
            }
        .details .title {
            font-weight: bold;
            margin-right: 5px;
        }
        .details .value {

        }
        .picture {
            text-align: center;
            width: 120px;
            height: 120px;
            float: left;
            margin: 23px 15px 0 23px;
            border: 1px solid #333;
            background-color: #fff;
            background-image: -moz-linear-gradient(top, #fff, #efefef);
            background-image: -o-linear-gradient(top, #fff, #efefef);
            background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #fff),color-stop(1, #efefef));
            background-image: -webkit-linear-gradient(#fff, #efefef);
            background-image: linear-gradient(top, #fff, #efefef);
                      filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fff', EndColorStr='#efefef');
        }
            .picture img {
                margin: 10px;
                height: 100px;
                width: 100px;
            }
    .user-profile .controls {
        margin: 0 10px;
        float: right;
    }
        .user-profile .controls .icon,
        .main-room .controls .icon {
        }
    .wall {

    }
        .wall .posts {
            top: 220px;
            border-top: 1px solid #E1E1E1;
        }
        .post-form {

        }


#splash {
    overflow: hidden;
    background: #fafafa;
    height: 100%;
    min-height: 300px;
    clear: both;
    margin-left: 200px;
    min-width: 215px;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
}

/**
    Chat room message list and items
**/
.posts,
.messages {
    overflow-y: scroll;
    position: absolute;
    top: 128px;
    bottom: 50px;
    right: 0;
    left: 0;
}
.messages {
    top: 51px;
}
    .post,
    .message {
        list-style: none outside;
        padding: 10px 15px;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #f1f1f1;
        overflow: hidden;
    }
        .concurrent {

        }
            .concurrent .username,
            .concurrent .small-avatar {
                opacity: .40;
                filter: Alpha(Opacity=40);
            }
        .post:first-child,
        .message:first-child {
            border-top: 0;
        }
        .post:last-child,
        .message:last-child {
            border-bottom: 0;
        }
        .post .created,
        .post .small-avatar,
        .post .username,
        .post .data,
        .message .created,
        .message .small-avatar,
        .message .username,
        .message .data {
            float: left;
            margin-top: 3px;
        }
        .post .created,
        .message .created {
            float: right;
        }
        .post .small-avatar,
        .message .small-avatar {
            width: 20px;
            height: 20px;
            overflow: hidden;
            display: block;
            float: left;
            margin: 0 10px 0 0;
        }
            .small-avatar img {
                height: 20px;
                width: 20px;
            }
        .post .username,
        .message .username {
            margin-right: 5px;
        }
        .post .data,
        .message .data {
            margin-left: 5px;
        }
    .post-form,
    .message-form {
        border-top: 1px solid #e1e1e1;
        display: block;
        overflow: hidden;
        position: absolute;
        height: 49px;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 0;
        font-size: 16px;
    }
        .post-form button,
        .message-form button {
            float: left;
            height: 30px;
            margin: 10px;
            padding: 0;
            width: 110px;
        }
            .message-form button {
            }
            .message-form button:hover {
            }
            .message-form button:active {
            }
            .main-room .message-form button span {
                padding: 0;
            }

        .post-form .input-wrap,
        .main-room .input-wrap {
            display: block;
            position: absolute;
            left: 10px;
            top: 0;
            right: 30px;
            bottom: 0;
        }
        .post-form .create-post,
        .main-room .message-form .create-message {
            display: block;
            height: 28px;
            margin: 10px 0 0;
            line-height: 1;
            padding: 0 10px;
            width: 100%;
        }

/**
    Statistic values
**/
.statistics {
    overflow: hidden;
    position: absolute;
    right: 8px;
    top: 10px;
    padding: 0 8px;
}
.main-room .statistics,
.user-profile .statistics {
    position: absolute;
    right: 50px;
    display: none;
}
    .statistics .stat {
        display: block;
        overflow: hidden;
    }
        .stat .title {
            display: block;
            line-height: 32px;
            text-shadow: 1px 1px 1px white;
            font-size: 14px;
            font-weight: 600;
            color: #6D6D6D;
            float: left;
            margin: 0 10px;
        }
        .stat .value {
            padding: 8px;
            float: right;
            display: block;
            font-weight: bold;
            text-align: center;
            width: 16px;
            height: 16px;
            line-height: 16px;
            color: #444;
        }

/**
    Modal / Dialog box
**/
.dialog-wrapper,
#spinner,
#overlay
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}
#spinner {
    background: #c8c8c8;
    opacity: 0.8;
    filter: Alpha(Opacity=80);
    z-index: 1002;
}
#inner-spinner {
    background: #5d5d5d;
    color: white;
    float: left;
    width: 160px;
    height: 160px;
    -webkit-border-radius: 15px;
       -moz-border-radius: 15px;
            border-radius: 15px;
    top: 50%;
    left: 50%;
    margin-top: -80px;
    margin-left: -80px;
    position: absolute;
    opacity: .90;
    filter: Alpha(Opacity=90);
}
#overlay {
    background: #666;
    opacity: .50;
    filter: Alpha(Opacity=50);
    z-index: 1001;
}
.dialog {
    outline: 0px;
    height: auto;
    width: auto;
    top: 40px;
    left: 212px;
    display: block;
    z-index: 1002;
    position: absolute;
    background: white;
}
    .dialog p {
        overflow: hidden;
    }
    .dialog .content {
        padding: 20px;
        overflow: hidden;
    }
    .dialog .title {
        border: 0;
        border-bottom: 1px solid #9E9E9E;
        padding: 10px;
        background-color: #fff;
        background-image: -moz-linear-gradient(top, #fff, #eee);
        background-image: -o-linear-gradient(top, #fff, #eee);
        background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #fff),color-stop(1, #eee));
        background-image: -webkit-linear-gradient(#fff, #eee);
        background-image: linear-gradient(top, #fff, #eee);
                  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fff', EndColorStr='#eee');
    }
    .dialog .title h3 {
        clear: both;
        margin: 0;
        font-size: 28px;
        font-weight: 300;
        line-height: 1.2;
    }
    .dialog p {
        clear: both;
    }
    .dialog label {
        margin: 5px 15px 5px 5px;
        display: block;
        float: left;
        clear: left;
    }
    #register label {
    }
    .dialog input[type='text'],
    .dialog input[type='password'],
    .dialog input[type='file'],
    .dialog input[type='checkbox'],
    .dialog textarea {
        margin: 5px 0 5px 10px;
        float: right;
        clear: right;
    }
    .dialog #submit-registration,
    .dialog #submit-login {
        font-size: 24px;
        margin: 10px 0;
        padding: 20px 0;
        font-weight: bold;
        width: 100%;
    }
    .dialog .controls {
        padding: 10px;
        text-align: right;
        border-top: 1px solid #9E9E9E;
        background-color: #eee;
        background-image: -moz-linear-gradient(top, #eee, #fff);
        background-image: -o-linear-gradient(top, #eee, #fff);
        background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eee),color-stop(1, #fff));
        background-image: -webkit-linear-gradient(#eee, #fff);
        background-image: linear-gradient(top, #eee, #fff);
                  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#eee', EndColorStr='#fff');
    }
        .dialog .controls button {
            margin-left: 5px;
        }

/**
    KeyCandy overrides
**/
.keycandy:before,
.keycandy *[accesskey]:before {
	position: absolute;
	border: 1px solid #ccc;
	z-index: 999;

	font: 16px/24px Arial,Helvetica,sans-serif;
	text-align: center;
	text-decoration: none;
	text-indent:  0;
    text-shadow: 1px 1px 1px white;
    font-weight: bold;
	vertical-align: middle;
	color: #333;

	   -moz-border-radius: 6px 6px 4px 4px;
	-webkit-border-radius: 6px 6px 4px 4px;
	        border-radius: 6px 6px 4px 4px;

       -moz-box-shadow: 1px 1px 1px #333;
    -webkit-box-shadow: 1px 1px 1px #333;
            box-shadow: 1px 1px 1px #333;

    background-color: #dffca9;
    background-image: -moz-linear-gradient(top, #dffca9, #b9e567);
    background-image: -o-linear-gradient(top, #dffca9, #b9e567);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #dffca9),color-stop(1, #b9e567));
    background-image: -webkit-linear-gradient(#dffca9, #b9e567);
    background-image: linear-gradient(top, #dffca9, #b9e567);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#dffca9', EndColorStr='#b9e567');
}
    .keycandy:before {
        top: 2px;
        /*content:"Press [esc] to clear hotkey tooltips."*/
    }

    .keycandy *[accesskey] {
        position: relative
    }

    .keycandy *[accesskey]:before {
        right: 0px;
        top: 0px;
        content: attr(accesskey);
        width: 24px;
        height: 24px;
    }
    /**
        Fix for inline anchor accesskeys
    **/
    #github a[accesskey] {
        position: absolute;
    }

.meows {
    z-index: 99999;
}
    .meows .inner,
    .meows .inner h1 {
        color: #fff;
        text-shadow: 0 1px 0 #000;
        min-height: 0;
    }
    .meows .inner h1 {
        font-size: 20px;
    }

/**
 * Non-semantic helper classes: please define your styles before this section.
 */

/* For image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* The Magnificent Clearfix: Updated to prevent margin-collapsing on child elements.
   j.mp/bestclearfix */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clearfix { zoom: 1; }



/**
 * Media queries for responsive design.
 *
 * These follow after primary styles so they will successfully override.
 */

@media all and (orientation:portrait) {
  /* Style adjustments for portrait mode goes here */

}

@media all and (orientation:landscape) {
  /* Style adjustments for landscape mode goes here */

}

/* Grade-A Mobile Browsers (Opera Mobile, Mobile Safari, Android Chrome)
   consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-device-width: 480px) {


  /* Uncomment if you don't want iOS and WinMobile to mobile-optimize the text for you: j.mp/textsizeadjust */
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}


/**
 * Print styles.
 *
 * Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
 */
@media print {
    * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
    -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
    a, a:visited { color: #444 !important; text-decoration: underline; }
    a[href]:after { content: " (" attr(href) ")"; }
    abbr[title]:after { content: " (" attr(title) ")"; }
    .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
    pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
    thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
    tr, img { page-break-inside: avoid; }
    @page { margin: 0.5cm; }
    p, h2, h3 { orphans: 3; widows: 3; }
    h2, h3{ page-break-after: avoid; }
}

