html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }


/**
 * Font normalization inspired by YUI Library's fonts.css: developer.yahoo.com/yui/
 */

body { font:13px/1.231 sans-serif; *font-size:small; } /* Hack retained to preserve specificity */
select, input, textarea, button { font:99% sans-serif; }

/* Normalize monospace sizing:
   en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome */
pre, code, kbd, samp { font-family: monospace, sans-serif; }


/**
 * Minimal base styles.
 */

/* Always force a scrollbar in non-IE */
html { overflow-y: scroll; }

/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: none; }

ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }

/* Remove margins for navigation lists */
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }

small { font-size: 85%; }
strong, th { font-weight: bold; }

td { vertical-align: top; }

/* Set sub, sup without affecting line-height: gist.github.com/413930 */
sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre {
    /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
    white-space: pre; white-space: pre-wrap; word-wrap: break-word;
    padding: 15px;
}

textarea { overflow: auto; } /* www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */

.ie6 legend, .ie7 legend { margin-left: -7px; } 

/* Align checkboxes, radios, text inputs with their label by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea { margin: 0; }

/* Colors for form validity */
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid {
    border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red;
}
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }


/* These selection declarations have to be separate
   No text-shadow: twitter.com/miketaylr/status/12228805301
   Also: hot pink! */
::-moz-selection{ background: #FF992C; color:#fff; text-shadow: none; }
::selection { background:#FF992C; color:#fff; text-shadow: none; }

/* j.mp/webkit-tap-highlight-color */
a:link { -webkit-tap-highlight-color: #FF5E99; }

/* Make buttons play nice in IE:
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {  width: auto; overflow: visible; }

/* Bicubic resizing for non-native sized IMG:
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img { -ms-interpolation-mode: bicubic; }

/**
 * You might tweak these..
 */
body, select, input, textarea {
    /* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */
    color: #444;
    /* Set your base font here, to apply evenly */
    font-family: 'Droid Sans', Arial, sans-serif;
    font-size: 12px;
    line-height: 1;
}

/* Headers (h1, h2, etc) have no default font-size or margin; define those yourself */
h1, h2, h3, h4, h5, h6 { font-weight: bold; }
a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }


.description,
.ranking,
.statistics,
.controls
{
    display: none;
}

/**
    Template
**/
html {
    background: #a04c1d url('../images/wood-bg.jpg') repeat 0 0;
    height: 100%;
}
body {
    height: 100%;
    line-height: 1.6;
}
#header {
    position: relative;
    top: 0;
    height: 40px;
}
    #logo {
        writing-mode: tb-rl;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        margin: 0;
        color: white;
        position: absolute;
        left: 50%;
        top: -100%;
        display: block;
        text-decoration: none;
    }
        #logo h1 {
            font-size: 500px;
            font-weight: bold;
            text-shadow: 1px 1px 3px #222;
            opacity: 0.2;
            border: 0;
            margin: 0;
        }
    #navigation {
        float: right;
        margin: 0;
        list-style: none outside;
        position: absolute;
        right: 40px;
        top: 18px;
    }
    #navigation li {
        float: left;
        margin-left: 15px;
    }
    #navigation li:first-child {
        margin-left: 0;
    }
    #navigation li a {
        font-size: 14px;
        color: #efefef;
        text-decoration: none;
        text-shadow: 1px 1px 1px #222;
    }
    #navigation li a:hover {
        color: #fff;
        text-shadow: 1px 1px 1px #000;
        border-bottom: 3px solid #333;
    }

#application {
    height: 100%;
    overflow: hidden;
}
.wrapper {
    height: 100%;
    margin-top: 30px;
}
#footer {
    display: none;
    overflow: hidden;
    clear: both;
}
    #copyright {
        margin: 20px 0 0 5px;
        font-size: 25px;
        font-weight: bold;
        color: #a04c1d;
        text-shadow: 1px 1px 1px #000;
    }
    .author {
        color: white;
        font-size: 18px;
        font-weight: bold;
        text-shadow: 1px 1px 3px #444;
    }

    
/**
    Top Rounded corners
**/
#sidebar-controls,
#sidebar-up,
#main-controls,
.main-room .name,
.authenticate .title
{
       -moz-border-radius: 8px 8px 0 0; /* FF1+ */
    -webkit-border-radius: 8px 8px 0 0; /* Saf3-4, iOS 1+, Android 1.5+ */
            border-radius: 8px 8px 0 0; /* Opera 10.5, IE9, Saf5, Chrome, FF4 */
}
/**
    Bottom Rounded corners
**/
#sidebar-down,
.authenticate .controls,
.message-form
{
       -moz-border-radius: 0 0 8px 8px; /* FF1+ */
    -webkit-border-radius: 0 0 8px 8px; /* Saf3-4, iOS 1+, Android 1.5+ */
            border-radius: 0 0 8px 8px; /* Opera 10.5, IE9, Saf5, Chrome, FF4 */
}
/**
    Full Rounded corners
**/
.authenticate
{
       -moz-border-radius: 8px; /* FF1+ */
    -webkit-border-radius: 8px; /* Saf3-4, iOS 1+, Android 1.5+ */
            border-radius: 8px; /* Opera 10.5, IE9, Saf5, Chrome, FF4 */
}
/**
    Transitions
**/
body .ui-dialog,
.wrapper,
#main,
#main-content, 
#sidebar,
#sidebar-controls,
#sidebar-content
{
     -moz-transition: all 0.3s ease-out;  /* FF4+ */
       -o-transition: all 0.3s ease-out;  /* Opera 10.5+ */
  -webkit-transition: all 0.3s ease-out;  /* Saf3.2+, Chrome */
          transition: all 0.3s ease-out;
}
/**
    Shadows
**/
body .ui-dialog,
#main-content, 
#sidebar,
.authenticate
{
       -moz-box-shadow: 1px 1px 4px #222; /* FF3.5+ */
    -webkit-box-shadow: 1px 1px 4px #222; /* Saf3.0+, Chrome */
            box-shadow: 1px 1px 4px #222; /* Opera 10.5, IE9, Chrome 10+ */
}

/**
    Sidebar
**/
#sidebar {
    position: absolute;
    top: 70px;
    bottom: 70px;
    left: 20px;
    width: 200px;
}
    #sidebar-controls {
        position: absolute;
        top: -50px;
        width: 100%;
        z-index: 4;
        padding: 0;
        height: 50px;
        background: white;
    }
        #sidebar-controls button {
            margin: 9px 0 9px 9px;
        }
    #sidebar-up {
        background-color: white;
        border-bottom: 1px solid #CCC;
        height: 16px;
        overflow: hidden;
        position: absolute;
        width: 100%;
        top: -50px;
    }
    #sidebar-content {
        height: 100%;
        overflow: hidden;
        background: #EEE;
        min-height: 300px;
        padding: 0% 0;
        clear: both;
    }
        #users, #rooms {
            overflow-y: scroll;
            height: 100%;
        }
        #users {
            border-top: 1px solid #bbb;
            display: none;
        }
        #rooms {
            border-top: 1px solid #bbb;
        }
            .room {
                position: relative;
                padding: 0;
                cursor: pointer;
                border-bottom: 1px solid #E0E0E0;
                border-top: 1px solid white;
                border-right: 2px solid #CCC;
                background-color: #F4F3F1;
                background-image: -moz-linear-gradient(top, #F4F3F1, #efefef); /* FF3.6 */
                background-image: -o-linear-gradient(top, #F4F3F1, #efefef); /* Opera 11.10+ */
                background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #F4F3F1),color-stop(1, #efefef)); /* Saf4+, Chrome */
                background-image: -webkit-linear-gradient(#F4F3F1, #efefef); /* Chrome 10+, Saf5.1+ */
                background-image: linear-gradient(top, #F4F3F1, #efefef);
                        filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#F4F3F1', EndColorStr='#efefef'); /* IE6–IE9 */
            }
            .room:hover {
                background-color: white;
                background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #ffffff),color-stop(1, #F4F3F1)); /* Saf4+, Chrome */
                background-image: -webkit-linear-gradient(#ffffff, #F4F3F1); /* Chrome 10+, Saf5.1+ */
            }
            #rooms .room:first-child {
            }
            #rooms .room.current {
                background-color: #c2e7fa;
                background-image: -moz-linear-gradient(top, #c2e7fa, #82ccf3); /* FF3.6 */
                background-image: -o-linear-gradient(top, #c2e7fa, #82ccf3); /* Opera 11.10+ */
                background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #c2e7fa),color-stop(1, #82ccf3)); /* Saf4+, Chrome */
                background-image: -webkit-linear-gradient(#c2e7fa, #82ccf3); /* Chrome 10+, Saf5.1+ */
                background-image: linear-gradient(top, #c2e7fa, #82ccf3);
                        filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#c2e7fa', EndColorStr='#82ccf3'); /* IE6–IE9 */
                        
            }
            .room a {
                display: block;
                overflow: hidden;
                text-decoration: none;
            }
            .room .name {
                margin: 10px 20px;
            }
            
    #sidebar-down {
        position: absolute;
        width: 100%;
        bottom: -46px;
        height: 50px;
        left: 0;
        border-top: 1px solid #ccc;
        background-color: white;
        overflow: hidden;
    }
    #room-form {
        font-size: 14px;
    }
    #create-room-button {
        margin: 0 10px 0 10px;
        padding: 5px 0;
        float: left;
        width: 23%;
    }
    #create-room-input {
        margin: 10px;
        display: block;
        padding: 3px 5px;
        width: 62%;
    }
    
    body .ui-widget {
        font-family: 'Droid Sans', Arial, sans-serif;
        font-size: 14px;
        line-height: 1;
    }

/**
    Main content screens
**/
#main {
    left: 240px;
    right: 20px;
    top: 70px;
    bottom: 70px;
    position: absolute;
}
    #main-tabs {
        display: none;
        height: 40px;
    }
    #main-content {
        display: none;
        background: white;
        height: 100%;
        overflow: hidden;
        min-height: 300px;
        padding: 0% 0;
        clear: both;
    }
    #main-controls {
        display: none;
        padding: 8px;
        height: 40px;
        background: white;
        overflow: hidden;
    }
        #main-controls * { display: none; }
    .layout-controls {
        float: right;
    }

.main-room {
    margin: 0;
    height: 100%;
}
.main-room .name {
    line-height: 50px;
    font-size: 26px;
    margin: 0;
    position: absolute;
    top: -50px;
    width: 100%;
    padding: 0;
    height: 50px;
    background: white;
}
    .main-room .name span {
        margin-left: 20px;
    }

.destroy {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 20px;
    width: 20px;
    margin: 10px;
    display: none;
    cursor: pointer;
    background: url(../images/destroy.png) no-repeat 0 0;
}
    .destroy {
        display: block;
    }
    .destroy:hover {
        background-position: 0 -20px;
    }
    .room .destroy {
        display: none;
    }
    
.messages {
    margin: 0px 20px 0px 20px;
    height: 100%;
    overflow-y: scroll;
}
    .message {
        list-style: none outside;
        padding: 3px 0;
        border-top: 1px solid #eee;
        overflow: hidden;
    }
        .concurrent {
        
        }
            .concurrent .username,
            .concurrent .small-avatar {
                opacity: .40;
                filter: Alpha(Opacity=40);
            }
        .post:first-child,
        .message:first-child {
            border-top: 0;
        }
        .post:last-child,
        .message:last-child {
            border-bottom: 0;
        }
        .post .created,
        .post .small-avatar,
        .post .username,
        .post .data,
        .message .created,
        .message .small-avatar,
        .message .username,
        .message .data {
            float: left;
            margin-top: 3px;
        }
        .post .created,
        .message .created {
            float: right;
        }
        .post .small-avatar,
        .message .small-avatar {
            width: 20px;
            height: 20px;
            overflow: hidden;
            display: block;
            float: left;
            margin: 0 10px 0 0;
        }
            .small-avatar img {
                height: 20px;
                width: 20px;
            }
        .post .username,
        .message .username {
            margin-right: 5px;
        }
        .post .data,
        .message .data {
            margin-left: 5px;
        }
        
    .message-form {
        display: block;
        overflow: hidden;
        width: 100%;
        position: absolute;
        height: 50px;
        bottom: -46px;
        padding: 0;
        font-size: 16px;
        background: white;
    }
        .main-room .message-form button {
            float: left;
            height: 30px;
            width: 15%;
            margin-left: 1.5%;
            padding: 0;
            margin-top: 10px;
            line-height: 1;
        }
            .main-room .message-form button span {
                padding: 0;
            }
        .main-room .message-form .create-message {
            width: 78%;
            display: block;
            float: left;
            height: 28px;
            margin: 10px 1% 0;
            line-height: 1;
            padding: 0 1%;
        }

.statistics {
    overflow: hidden;
    position: absolute;
    right: 8px;
    top: 8px;
}
.main-room .statistics {
    position: absolute;
    right: 50px;
    top: -40px;
}
    .statistics .stat {
        float: right;
        display: block;
    }
        .stat .title {
            font-weight: bold;
            float: left;
            display: block;
        }
        .stat .value {
            float: right;
            display: block;
            font-weight: bold;
            text-align: center;
            width: 16px;
            height: 16px;
            
            background: #eee;
            padding: 8px;
            line-height: 16px;
            color: #444;
            
               -moz-border-radius: 16px; /* FF1+ */
            -webkit-border-radius: 16px; /* Saf3-4, iOS 1+, Android 1.5+ */
                    border-radius: 16px; /* Opera 10.5, IE9, Saf5, Chrome, FF4 */
                    
               -moz-box-shadow: inset 1px 1px 3px #5d5d5d; /* FF3.5+ */
            -webkit-box-shadow: inset 1px 1px 3px #5d5d5d; /* Saf3.0+, Chrome */
                    box-shadow: inset 1px 1px 3px #5d5d5d; /* Opera 10.5, IE9, Chrome 10+ */
        }
        .main-room .stat .title,
        #rooms .stat .title,
        #app-stats .total-users,
        #app-stats .total-messages,
        #app-stats .total-rooms .title
        {
            display: none;
        }
        .main-room .stat .value,
        #rooms .stat .value 
        {
        }
/**
    Typography styles
**/
h1,h2,h3,h4,h5,h6 {
    margin: 10px 0;
    font-weight: normal;
}
h1 { 
    font-size: 22px;
    margin: 20px 20px 0;
    border-bottom: 2px solid #DEDEDE;
}
h2 { 
    font-size: 22px;
}
h3 { 
    font-size: 18px;
}
h4,h5,h6 { 
    font-size: 18px;
}

/**
    Login / Registration
**/
.authenticate {
    outline: 0px;
    height: auto;
    width: auto;
    top: 0px;
    left: 517px;
    display: block;
    z-index: 1002;
    position: absolute;
    background: white;
    margin: 15% auto 20px;
}
    .authenticate .content {
        padding: 20px;
        overflow: hidden;
    }
    .authenticate .title {
        border: 0;
        border-bottom: 1px solid #9E9E9E;
        padding: 10px;
        background-color: #ffffff;
        background-image: -moz-linear-gradient(top, #ffffff, #eeeeee); /* FF3.6 */
        background-image: -o-linear-gradient(top, #ffffff, #eeeeee); /* Opera 11.10+ */
        background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #ffffff),color-stop(1, #eeeeee)); /* Saf4+, Chrome */
        background-image: -webkit-linear-gradient(#ffffff, #eeeeee); /* Chrome 10+, Saf5.1+ */
        background-image: linear-gradient(top, #ffffff, #eeeeee);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#eeeeee'); /* IE6–IE9 */
    }
    .authenticate .title h3 {
        clear: both;
        margin: 0;
        font-size: 28px;
        font-weight: 300;
        line-height: 1.2;
    }
    .authenticate p {
        clear: both;
    }
    .authenticate label {
        margin: 5px 0;
        display: block;
        float: left;
        clear: left;
    }
    #register label {
    }
    .authenticate input[type='text'],
    .authenticate input[type='password'] {
        margin: 5px 0 5px 10px;
        float: right;
        clear: right;
    }
    .authenticate #submit-registration,
    .authenticate #submit-login {
        font-size: 24px;
        margin: 10px 0;
        padding: 20px 0;
        font-weight: bold;
        width: 100%;
    }
    .authenticate .controls {
        padding: 10px;
        text-align: right;
        border-top: 1px solid #9E9E9E;
        background-color: #eeeeee;
        background-image: -moz-linear-gradient(top, #eeeeee, #ffffff); /* FF3.6 */
        background-image: -o-linear-gradient(top, #eeeeee, #ffffff); /* Opera 11.10+ */
        background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #ffffff)); /* Saf4+, Chrome */
        background-image: -webkit-linear-gradient(#eeeeee, #ffffff); /* Chrome 10+, Saf5.1+ */
        background-image: linear-gradient(top, #eeeeee, #ffffff);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeee', EndColorStr='#ffffff'); /* IE6–IE9 */
    }
        .authenticate .controls button {
            margin-left: 5px;
        }

/**
    Custom helpers
**/
.rounded {
     -moz-border-radius: 8px; /* FF1+ */
  -webkit-border-radius: 8px; /* Saf3-4, iOS 1+, Android 1.5+ */
          border-radius: 8px; /* Opera 10.5, IE9, Saf5, Chrome, FF4 */
}
.transition {
     -moz-transition: all 0.3s ease-out;  /* FF4+ */
       -o-transition: all 0.3s ease-out;  /* Opera 10.5+ */
  -webkit-transition: all 0.3s ease-out;  /* Saf3.2+, Chrome */
          transition: all 0.3s ease-out;  
}
.rotate {
     -moz-transform: rotate(7.5deg);  /* FF3.5+ */
       -o-transform: rotate(7.5deg);  /* Opera 10.5 */
  -webkit-transform: rotate(7.5deg);  /* Saf3.1+, Chrome */
      -ms-transform: rotate(7.5deg);  /* IE9 */
          transform: rotate(7.5deg);  
             filter: progid:DXImageTransform.Microsoft.Matrix(/* IE6–IE9 */ 
                     M11=0.9914448613738104, M12=-0.13052619222005157,M21=0.13052619222005157, M22=0.9914448613738104, sizingMethod='auto expand');
               zoom: 1;
}

/**
 * Non-semantic helper classes: please define your styles before this section.
 */

/* For image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* The Magnificent Clearfix: Updated to prevent margin-collapsing on child elements.
   j.mp/bestclearfix */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clearfix { zoom: 1; }



/**
 * Media queries for responsive design.
 *
 * These follow after primary styles so they will successfully override.
 */

@media all and (orientation:portrait) {
  /* Style adjustments for portrait mode goes here */

}

@media all and (orientation:landscape) {
  /* Style adjustments for landscape mode goes here */

}

/* Grade-A Mobile Browsers (Opera Mobile, Mobile Safari, Android Chrome)
   consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-device-width: 480px) {


  /* Uncomment if you don't want iOS and WinMobile to mobile-optimize the text for you: j.mp/textsizeadjust */
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}


/**
 * Print styles.
 *
 * Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
 */
@media print {
    * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
    -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
    a, a:visited { color: #444 !important; text-decoration: underline; }
    a[href]:after { content: " (" attr(href) ")"; }
    abbr[title]:after { content: " (" attr(title) ")"; }
    .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
    pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
    thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
    tr, img { page-break-inside: avoid; }
    @page { margin: 0.5cm; }
    p, h2, h3 { orphans: 3; widows: 3; }
    h2, h3{ page-break-after: avoid; }
}