
  .stat.total-online
    span.title Online
    span.value {{ totalOnline }}
  .stat.total-users
    span.title Members
    span.value {{ totalUsers }}
  .stat.total-rooms
    span.title Rooms
    span.value {{ totalRooms }}
  .stat.version
    span.title Version
    span.value {{ version }}
