
  #create-room-form.dialog
    .title
      h3 Create a new room
    
    .content
      p
        label(for='create-room-name') Name: 
        span.input-wrap
          input#create-room-name(type='text', name='room', placeholder='Room name')
      p
        label(for='create-room-description') Description:
        span.input-wrap
          textarea#create-room-description(type='text', name='description', placeholder='Description')
      p
        label(for='create-room-restricted') Private room:
        span.input-wrap
          input#create-room-restricted(type='checkbox', name='restricted')
    
    .controls
      button.button.primary.submit#create-room-submit Create
      button.button.cancel Cancel
